@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 206 56% 46%;
    --primary-foreground: 206 56% 46%;
    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 91%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --default: 0 0% 20%;
    --default-secondary: 0 0% 20%;
    --radius: 0.5rem;
  }
}
